
html {
  font-size: 16px;
  font-family: 'Merriweather', serif;
}

header {
  display: flex;
  align-items: center;
  height: 4rem;
  margin: 0 1.5rem 0 1.5rem;
  border-bottom: 1.5px solid #DEDEDE;
}

.logo {
  display: flex;
  align-items: center;
  height: 2rem;
  flex-grow: 2;
}

nav {
text-align: right;
margin-right: 1.5rem;
}

.mobile {
  display: none;
}

nav li {
  display: inline-block;
  margin-left: 0.5rem;
}

nav li:hover {
  color: #1D75B7;
  transition-duration: 500ms;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  color: #2E2926
}

h2 {
  font-size: 1rem;
  font-weight: bold;
  margin:0.5rem;
}

h3 {
  margin: 0.5rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
  font-family: 'Inconsolata';
  font-weight: normal;
  margin: 0.5rem;
}

#colmar {
  font-weight: 800;
}

 /* JumboTron*/

 .jumbotron {
   margin: 0 auto;
   background-color: #DEDEDE;
 }

 .banner {
   margin: 2rem 1.5rem;
   display: flex;
 }

 .mediabox {
   display: flex;
   flex-direction: column;
   background-color: #F5F5F5;
   width: 60%;
 }


 .mediabox img {
   margin-bottom: 2rem;
   width: 100%
 }

 .mediabox video {
   margin-bottom: 1.5rem;
 }

 .mediabox h1 {
 margin-bottom: 1.5rem;
 }

 .mediabox h2 {
   margin-bottom: 0.5rem;
 }

 .mediabox p {
   margin-bottom: 1.5rem;
 }



 .textbox {
   width: 40%;
   display: flex;
   flex-direction: column;
   align-self: center;
   line-height: normal;
   text-align: center;
   padding: 4rem 2rem;
 }


 a {
  display: block;
  width: 15rem;
  padding: .5rem 1rem ;
  border-radius: 5px;
  margin: 20% auto;
  color: white;
  text-align: center;
  font-size: 1rem;
  background-color: #2e2926;
  text-decoration: none;
}

a:hover {
  background-color: #0971b2;
  transition-duration: 750ms;
}

/*Box 2 & 4*/


  .banner2 {
    margin: 1rem;
    display: flex;
    border-bottom: 1.5px solid #DEDEDE;
  }

  .banner2:hover {
    background-color: WhiteSmoke;
    transition-duration: 500ms;
  }

  .mediabox2 {
  width: 35%;
  height: auto;
  }

  .mediabox2 h1 {
    margin-bottom: 1.5rem;
  }

  .mediabox2 img {
    width: 100%;
    height: auto;
  }

  .mediabox video {
    width: 100%
  }


 .scrollbox {
  width: 40%;
  display: flex;
  flex-direction: column;
 }

 .textbox2 {
   width: 35%;
   display: flex;
   flex-direction: column;
   padding: 1rem;
   margin: 0.5rem;
 }

 /*Box 3*/

 .curriculum {
   display: block;
   background-position: center;
 }

 .curriculum h1 {
   text-align: center;
 }


 .courses {
   display: flex;
   justify-content: space-around;
   margin: 2rem 4rem;
   flex-wrap: wrap;
   background-color: #DEDEDE;
 }

 .course {
   display: flex;
   flex-direction: column;
   margin: 2rem;
   width: 25%;
   background-color: #FFFFFF;
 }

 .course:hover {
   background-color: #F5F5F5;
   transition-duration: 250ms;
 }

 .course img {
   width: 100%;
   margin: 0 0 1rem 0;
   height: auto;
 }

 /*Footer*/
footer {
  background-color: whitesmoke;
 display: flex;
 height: 5rem;
 margin: auto;
 padding-top: 1rem;
}

footer p {
  display: inline-flex;
  flex-grow: 2;
}

footer li {
  display: inline-block;
  text-align: right;
  padding-right: 25px;
  font-size: 16px;
}
